{% extends 'base.html.twig' %}

{% block title %}Guide index{% endblock %}

{% block body %}
    <h1>Guide index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Photo</th>
                <th>IsActive</th>
                <th>Country</th>
                <th>CreatedAt</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guide in guides %}
            <tr>
                <td>{{ guide.id }}</td>
                <td>{{ guide.firstName }}</td>
                <td>{{ guide.lastName }}</td>
                <td>{{ guide.photo }}</td>
                <td>{{ guide.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ guide.country }}</td>
                <td>{{ guide.createdAt ? guide.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ guide.email }}</td>
                <td>{{ guide.password }}</td>
                <td>
                    <a href="{{ path('app_guide_show', {'id': guide.id}) }}">show</a>
                    <a href="{{ path('app_guide_edit', {'id': guide.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_guide_new') }}">Create new</a>
{% endblock %}
