{% extends 'base.html.twig' %}

{% block title %}Guide{% endblock %}

{% block body %}
    <h1>Guide</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guide.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ guide.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ guide.lastName }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ guide.photo }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ guide.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ guide.country }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ guide.createdAt ? guide.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ guide.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ guide.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_guide_index') }}">back to list</a>

    <a href="{{ path('app_guide_edit', {'id': guide.id}) }}">edit</a>

    {{ include('guide/_delete_form.html.twig') }}
{% endblock %}
